@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);


.homePage {
    width: 100%;
    height: 100%;
    z-index: -5000;
}
#wallpaper {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  z-index: -100;
}

#makePostTitle {
	text-align: center;
	font-size: 50px;
}
.help-block {
	color:red;
}
#searchPost {
	float: right;
	width: 400px;
}
#breedChoice {
	display: inline-block;
}
#post {
	background-color: #B6AAA1;
	border-radius: 25px;
	padding: 10px;
	margin: 15px;
	margin-bottom: 50px;
}
#pageTitle{
	text-align: center;
	margin: 50px;
}

img {
	max-width:100%;
    max-height:100%
}

.image {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	float: right;
	margin-top: 50px;
	margin-right: 100px;
}

.navbar-default {
	background-color: #524845;
}
body {
	background-color: #D9D2C1;
	font-family: 'Bubblegum Sans', cursive;
}
.nav.navbar-nav li a, #homeBtn{
	color: #BBBAB6;
	font-size: 25px;
}
#myNavbar {
	background-color: #524845 !important;
	margin-left: -15px;
	margin-right: -15px;
}
label, p, textarea{
	font-size: 20px;
}
#homeTitle {
	color: white;
	font-size: 50px;
}
.nav.navbar-nav li a:hover, #homeBtn:hover {
	-webkit-transform: rotate(7deg);
	transform: rotate(7deg);
	color:white;
}
.nav.navbar-nav li a:hover, #homeBtn:hover {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.nav.navbar-nav li a:active, #homeBtn:active {
	color: white;
}
.footer {
   position: fixed; 
   bottom: 3;
   width: 100%;
   bottom:0;
   height:40px;   
   background:#524845;
   color: #BBBAB6;
   margin: 0px;
}

#contactInfo {
	padding-left: 50px;
}

#right {
	float: right;
}

#postImage {
	margin-right: 20px;
	width:250px;
    height:250px;
    position: relative;
    border-radius: 30px;
}
.postInfo, #posttime {
	padding: 0 0 0 300px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
	position: relative;
}

#salary {
	width: 200px;
	float: left;
	margin-right: 10px;
}
#postbutton {
	display: block;
	margin-top: 50px;
}
#homeemail {
	width: 470px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
}
#description {
	margin-bottom: 60px;
}
#homepassword {
	width: 470px;
	margin-bottom: 20px;
	margin-left: 15px;
}
#submitBtn{
	margin-bottom: 50px;
}
#order {
	margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
	p {
		font-size: 15px;
	}
	#postImage {
		width:150px;
	    height:150px;
	    position: relative;
	    border-radius: 30px;
	}
	.postInfo, #posttime {
		padding: 0 0 0 170px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
		position: relative;
	}
	.nav.navbar-nav li a, #homeBtn{
		color: #BBBAB6;
		font-size: 15px;
	}
	.nav.navbar-nav li a:hover, #homeBtn:hover {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
		color:white;
	}
	.nav.navbar-nav li a:hover, #homeBtn:hover {
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
	}
	#wallpaper {
		display: none;
	}
	#homeTitle {
		font-size: 30px;
		color: #524845;
	}
}











