<h1 id='makePostTitle'> Make a post </h1>
<form name="makePostForm" id="makePostForm" nonvalidate>
    <div class="form-group">
        <label for="why">Briefly explain why do you need a pet helper</label>
        <textarea type="text" class="form-control" id="why" name='why' ng-model='why' required></textarea>
        <p ng-model="whyBlank" class="help-block" ng-show="(makePostForm.why.$error.required && makePostForm.why.$touched) || (makePostForm.why.$error.required && !makePostForm.why.$pristine)">Please tell us why do you need a pet helper</p>
    </div>
    <div class="form-group">
      <label for="start">Starting date and time (Ex: Oct 20th 4pm)</label></br>
      <input type="text" class="form-control" id="start" name='start' required>
    </div>
    <div class="form-group">
      <label for="end">Ending date and time (Ex: Nov 2th 3pm)</label></br>
      <input type="text" class="form-control" id="end" name='end' required>
    </div>
    <div class="form-group">
      <label for="which">You are posting for which pet of yours</label></br>
      <input type="text" class="form-control" id="which" name='which' required>
    </div>
    <div class="form-group">
      <label for="salary">Total payment (Ex: 700 dollar)</label></br>
      <input type="text" class="form-control" id="salary" name='salary' required>
    </div>
    <button type="submit" id="button" class="btn btn-primary">Submit</button></br>
</form>