<div class="form-group" ng-controller="makePostCtrl">
    <h1 id='makePostTitle'> Make a post </h1>
    <form name="makePostForm" id="makePostForm" nonvalidate>
    	<!-- shows the message if the user does not have a pet --> 
		<div class="alert alert-danger" role="alert" ng-show="!hasPet">
			It seems that you don't have a pet right now. Please add a pet to your profile.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<!-- shows the message if the post does not upload correctly -->
		<div class="alert alert-danger" role="alert" ng-show="errorM">
			Opps, something is wrong.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
	    <div class="form-group">
	    	<!-- let user choose the start date -->
	        <label for="startdate">Choose a starting date:</label>
	        <input type="date" class="form-control" id="startdate" name="startdate" ng-model="startdate" ng-change="seeStart()" required>
	        <!-- display the image if the user does not choose a date -->
	        <p ng-model="startdateBlank" class="help-block" ng-show="(makePostForm.startdate.$error.required && makePostForm.startdate.$touched) || (makePostForm.startdate.$error.required && !makePostForm.startdate.$pristine)">Please tell us when you need a pet helper!</p>
	    </div>
	    <div class="form-group">
	    	<!-- let user choose the ending date -->
	        <label for="enddate">Choose a ending date:</label>
	        <input type="date" class="form-control" id="enddate" name="enddate" ng-model="enddate" ng-change="seeEnd()" required>
	        <!-- displays the image if the user does not choose a date -->
	        <p ng-model="enddateBlank" class="help-block" ng-show="(makePostForm.enddate.$error.required && makePostForm.enddate.$touched) || (makePostForm.enddate.$error.required && !makePostForm.enddate.$pristine)">Please tell us when you need a pet helper!</p>
	    </div>
	    <div class="form-group">
	      <!-- let the user type in the total payment they can afford -->
	      <label for="salary">Total payment:</label></br>
	      <input type="text" class="form-control" id="salary" name='salary' ng-model="salary" required>
	      <p> dollars</p>
	      <!-- tell the user typing in the salary is required -->
	      <p ng-model="salaryBlank" class="help-block" ng-show="(makePostForm.salary.$error.required && makePostForm.salary.$touched) || (makePostForm.salary.$error.required && !makePostForm.salary.$pristine)">Please tell us the possible payment you can afford to find a pet helper!</p>
	    </div>
	    <div class="form-group">
	        <!-- let the user type in the things they want to say to the pet helper -->
	        <label for="why">Things you want to say to potential pet helper:</label>
	        <textarea type="text" class="form-control" id="why" name="why" ng-model="why" required></textarea>
	        <!-- display the image if the user did not type in anything -->
	        <p ng-model="whyBlank" class="help-block" ng-show="(makePostForm.why.$error.required && makePostForm.why.$touched) || (makePostForm.why.$error.required && !makePostForm.why.$pristine)">Please tell us anything, you could talk about why you need a helper or personality of your pet!</p>
	    </div>
	    <div>
	      <!-- let the user type in the contact iinformation  -->
	      <label for="contact">Your contact info:</label></br>
	      <input type="text" class="form-control" id="contact" name="contact" ng-model="contact" required>
	      <p ng-model="contactBlank" class="help-block" ng-show="(makePostForm.contact.$error.required && makePostForm.contact.$touched) || (makePostForm.contact.$error.required && !makePostForm.contact.$pristine)">Please tell us your phone number or email address so that people can contact you!</p>
	    </div>
	    <!-- so that user can make the post after they filled in all the required information -->
	    <button type="submit" id="postbutton" class="btn btn-primary" ng-click="postIt()" ng-disabled="makePostForm.$invalid || !hasPet">Post</button></br>
	</form>
</div>