<div ng-controller="postsCtrl">
	<label for="searchBreed" id="searchBreed">Species</label>
	<select id="breedChoice" ng-model="breedChoice" ng-change="logSelect()">
		<!-- user can filter the posts by specific species -->
		<option value="Dogs">Dogs</option>
    	<option value="Cats">Cats</option>
    	<option value="Hamsters">Hamsters</option>
    	<option value="Guinea pigs">Guinea pigs</option>
    	<option value="Bunnies">Bunnies</option>
    	<option value="Other">Other</option>
    	<option value="All">All</option>
    </select>
    <!-- so that user can see the post in salary order -->
    <input type="text" name="searchPost" id="searchPost" placeholder="Type in a specific breed or pet name" class="form-control" ng-model="query" ng-change="getResult()" required>
    <h1 id="pageTitle"> OFFER THEM A TEMPORARY HOME!</h1>
	<div class="container">
		<div class="row">
		    <div id="post" ng-repeat="post in posts | filter : breedChoice|filter: query"> 
		    	<!-- all the information the user can see in the posts -->
		        <img id="postImage" class="pull-left" ng-src="{{post.petpicture}}">
		        <p class="postInfo"> Name: {{post.petname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        <p class="postInfo"> Species: {{post.petspecies}} </p>
		        <p class="postInfo"> Breed: {{post.petbreed}} </p>
		        <p class="postInfo"> Age: {{post.petage}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gender: {{post.petgender}}</p>
		        <p class="postInfo"> This pet needs a temporary home during {{post.startdate}} - {{post.enddate}} </p>
		        <p class="postInfo"> Total payment: {{post.totalpayment}} dollars</p>
		        <p class="postInfo"> From the owner: "{{post.reason}}" </p>
		        <p class="postInfo"> Contact info: {{post.contactinfo}}</p>
		        <p id="posttime"> posted at: {{post.posttime | date:'medium'}}</p>
			    </div>
		    </div>
		</div>
	</div>
</div>