<div>
	<label for="searchBreed" id="searchBreed">Species</label>
	<select id="breedChoice" ng-model="breedChoice">
		<option value="Dogs">Dogs</option>
    	<option value="Cats">Cats</option>
    	<option value="Hamsters">Hamsters</option>
    	<option value="Guinea pigs">Guinea pigs</option>
    	<option value="Bunnies">Bunnies</option>
    </select>
    <input type="text" name="searchPost" id="searchPost" placeholder="Type in a specific breed or pet name" class="form-control" ng-model="query" required>
    <h1 id="pageTitle"> OFFER THEM A TEMPORARY HOME!</h1>
	<div class="container">
		<div class="row">
		    <div id="post"> 
		        <img id="postImage" src="http://cache.desktopnexus.com/thumbseg/1070/1070314-bigthumbnail.jpg">
		        <div id="postInfo">
			        <p> Name: </p>
			        <p> Breed: </p>
			        <p> Age: </p>
			        <p> Gender: </p>
			        <p> <i>More information about the owner and pet.</i> </p>
			        <p> needs a temporary home from  to  </p>
			        <p> Total payment </p>
			        <p> "I need to go to a business trip for a week, someone please help me out here." </p>
			        <p> Contact info: </p>
			        <p> Created at: </p>
			    </div>
		    </div>
		</div>
	</div>
</div>