<!--Profile-->


<h1>My Profile </h1>
<p>  <a ui-sref="edit"> Edit Profile</a> </br>

<form name="profileform" id="profileForm" nonvalidate>
	<div class="form-group">
		<!-- user information -->
		<label for="name">Name: {{Name}}</label></br>
		<label for="gender">Gender: {{gender}}</label></br>
		<label for="career">Career: {{career}}</label></br>	
		<label for="phonenum">Phone Number: {{phonenum}}</label></br>
        <label for="street">Street Address: {{street}}</label></br>
		<label for="city">City: {{city}}</label></br>
		<label for="state"> State: {{state}}</label></br>
		<label for="postcode">Postal Code: {{postcode}}</label></br>
	</div>


	<h1> My Pet </h1>

	<div class="form-group">
		<!-- pet's info -->
	    <label for="firstName">Name:{{petName}}</label></br>
	    <label for="species">Species:{{petSpecies}}</label></br>
		<label for="breed">Breed:{{petBreed}}</label></br>
		<label for="lastName">Gender:{{petGender}}</label></br>
		<label for="age">Age:{{petAge}}</label></br>
		<label for="birthdate" id="birthLabel">Birthdate:{{petBirth}}</label></br>
		<label for="description">Description:{{petDescription}}</label>
	</div>

</form>

