<!--Profile-->
<h1>My Profile </h1>
<p> <a ui-sref="edit"> Edit Profile</a> </br>
    <form name="profileform" id="profileForm" nonvalidate>
        <div class="form-group">
            <!-- user information -->
            <label for="name">Name: {{myprofile.customername}}</label>
            </br>
            <label for="gender">Gender: {{myprofile.gender}}</label>
            </br>
            <label for="career">Career: {{myprofile.career}}</label>
            </br>
            <label for="phonenum">Phone Number: {{myprofile.phonenumber}}</label>
            </br>
            <label for="street">Street Address: {{myprofile.streetaddress}}</label>
            </br>
            <label for="city">City: {{myprofile.city}}</label>
            </br>
            <label for="state"> State: {{myprofile.state}}</label>
            </br>
            <label for="postcode">Postal Code: {{myprofile.postalcode}}</label>
            </br>
        </div>
        <h1> My Pet </h1>
        <div class="form-group">
            <!-- pet's info -->
            <label for="firstName">Name:{{petprofile.petname}}</label>
            </br>
            <label for="species">Species:{{petprofile.petspecies}}</label>
            </br>
            <label for="breed">Breed:{{petprofile.petbreed}}</label>
            </br>
            <label for="lastName">Gender:{{petprofile.petgender}}</label>
            </br>
            <label for="birthdate" id="birthLabel">Birthdate:{{petprofile.petbirthday}}</label>
            </br>
            <label for="description">Description:{{petprofile.petdescription}}</label>
        </div>
    </form>
