<!--Profile-->


<h1>My Profile </h1>
<p>  <a href=""> Edit Profile</a> </br>
<img class="pic" src="img/girl.jpg" alt="girl picture">
<form name="profileform" id="profileForm" nonvalidate>
	<div class="form-group">
		<!-- user information -->
		<label for="firstName">First Name:</label></br>
		<label for="lastName">Last Name:</label></br>
		<label for="lastName">Gender:</label></br>
		<label for="phonenum">Phone Number:</label></br>
        <label for="street">Street Address:</label></br>
		<label for="city">City:</label></br>
		<label for="state"> State:</label></br>
		<label for="postcode">Post Code:</label></br>
		<label for="email">Email:</label></br>
		<label for="bio">Add your bio:</label></br>
	</div>


	<h1> My Pets </h1>
	<img src="img/cat.jpg" alt="cat picture"></br>

	<div class="form-group">
		<!-- pet's info -->
	    <label for="firstName">Name:</label></br>
		<label for="breed">Breed:</label></br>
		<label for="lastName">Gender:</label></br>
		<label for="birthdate" id="birthLabel">Birthdate:</label></br>
		<label for="description">Description:</label>
	</div>

</form>

